.asteroid {
    background-image: linear-gradient(270deg, #65737e,#c0c5ce);
    margin: 20px;
    border-radius: 4%;
    padding: 20px;
    border: 2px solid lightblue;
}

#name{
    display: relative;
    background-image:linear-gradient(270deg, #394046,#8c9199);
}

.label{
    font-weight: bolder;
}

.info{
    font-weight: normal;
}