<div class="asteroid">
    <div id="name" class="label">
        Name :
        <div class="info">
            {{asteroid.name}}
        </div>
    </div>
    <div class="label">
        Id :
        <div class="info">
            {{asteroid.id}}
        </div>
    </div>
    <div class="label">
        Minimum Diameter (m) :
        <div class="info">
            {{asteroid.diameter_min}}
        </div>
    </div>
    <div class="label">
        Maximum Diameter (m) :
        <div class="info">
            {{asteroid.diameter_max}}
        </div>
    </div>
    <div class="label">
        Miss Distance (km) :
        <div class="info">
            {{asteroid.miss_distance}}
        </div>
    </div>
    <div class="label">
        Miss Time :
        <div class="info">
            {{asteroid.miss_time}}
        </div>
    </div>
    <div class="label">
        Relative Speed (km/s) :
        <div class="info">
            {{asteroid.relative_speed}}
        </div>
    </div>
</div>